



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  bg-color: orange;
}

.sec1 {
  background-color: grey;
}
.food {
  float: left;
}



a {
  margin: 20px;
  margin-top: 100px;
  display: inline-block;
  margin-left: 100px;
  color: black;
}

select {
  margin: 20px;
  margin-left: 100px;
  background-color: mediumturquoise;
  color: black;
}
h2 {
    background-color: blue;
    color: white;
    height: 50px;
    padding-top: 10px;
}


.flex {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: orange;
}

.cc {
    padding: 15px;
    border: 1px solid black;
    margin: 25px;
    background-color: lightgreen;
    width:450px;
    height: 450px;
    text-align: center;
    /* margin-left: 5px; */
    
}


button {
    background-color: hotpink;
    height: 30px;
    border: none;
    border-radius: 2rem;
    width: 100px;
    color: white;
    margin: 20px;
}
.h21{
     margin-bottom: 10px;
     background-color: black;
}
.p1{
    margin-bottom: 100px;
}
.sec{
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    background-color: black;
    color: white;
}

.h31 {
  margin-top: 10px;
  margin-bottom: 10px;
}