body{
    
    color: white;
}
.h21{
     margin-bottom: 10px;
}
.p1{
    margin-bottom: 100px;
}
.sec{
    display: flex;
    justify-content: space-evenly;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 5px;
    background-color: black;
}